extends layout

block content
  h1= title
  button.btn(class="btn-info btn-sm ml-1", style="margin: 5px; width: 120px;", onclick=`dispatch(\"/pen/create\")`) Create
  div(class="container-fluid")
  //- let results=[{width:24,style:"nib",color:"red"},{width:25,style:"ball",color:"green"},{width:22,style:"soft touch",color:"black"}]
  - let items = results 
    div(class="container-fluid") 
  div(class="row") 
    each item in items  
      - let destination = `dispatch(\"/pen/update?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") Item #{item.width}(#{item.style}) is #{item.color} 
         button.btn(class="btn-primary btn-sm ml-1", style="margin: 5px; width: 120px;", onclick=`dispatch(\"/pen/detail?id=${item._id}\")`) View
         button.btn(class="btn-warning btn-sm ml-1", style="margin: 5px; width: 120px;", onclick= `dispatch(\"/pen/update?id=${item._id}\")`) Update
         button.btn(class="btn-success btn-sm ml-1", style="margin: 5px; width: 120px;", onclick= `dispatch(\"/pen/delete?id=${item._id}\")`) Delete 
  script. 
    function dispatch(path){ 
      window.location.href=path 
    } 
  div(class="row")
    each value,index in results
        div(class="col-sm-2" onclick=`buy(${index})`)  width #{value.width} , style #{value.style}, color  #{value.color}
  script.
    function buy(index)
    {
      alert(`Your purchased Item ${index+1}`)
    }
    passport.use(new LocalStrategy(function(username, password, done) { 
            Account.findOne({ username: username }, function (err, user) { 
            if (err) { return done(err); } 
            if (!user) { 
                return done(null, false, { message: 'Incorrect username.' }); 
            }
            if (!user.validPassword(password)) { 
                return done(null, false, { message: 'Incorrect password.' }); 
            }
            return done(null, user); 
          }); 
    }));

 
 